<tr>
<td><strong><%= link_to results["name"], results["html_url"] %></strong></td>
<td><%= results["owner"]["login"] %></td>
<td><%= results["stargazers_count"] %></td>
<td><%= results["forks_count"] %></td>
<td><%= results["open_issues_count"] %></td>
<td><%= results["language"] %></td>
<td><%= results["size"] %></td>
<td><%= results["updated_at"] %></td>
</tr>
