<p>
<strong><%= link_to results["name"], results["html_url"] %></strong>
by
<!-- Will eventually be linked straight the the owners github page -->
<!-- %= link_to results["owner"]["login"], results["owner"]["url"] % -->
<%= results["owner"]["login"] %><br>
Stars: <%= results["stargazers_count"] %> | 
Forks: <%= results["forks_count"] %> | 
Open Issues <%= results["open_issues_count"] %>
<br>
Language: <%= results["language"] %> | 
Line Count: <%= results["size"] %>
<br>
Last Updated: <%= results["updated_at"] %>
</p>
