<h1>Search for Github Repositories</h1>
<% if current_user %>
  <%= form_tag search_index_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search_term, params[:search_term] %>
      <%= submit_tag "Search", class: "button round"%>
    </p>
  <% end %>

<%= paginate @items %>

  <% @items.each do |results| %>
    <%= render 'result', :results => results %><br>
  <% end %>
<% else %>
  <p> 
    <%= link_to "Github Authurization", "/auth/github" %>
  </p>
<% end %>

